.navBar{
    padding: 1rem;
    background: #7CA5B8;
    width: 100%;
    height: 15xp;
    display: flex;
}

.logo{
    padding: 0.5rem;
    width: 3rem;
    padding-left: 0.5rem;
    border-radius: 50%;
}
h2{
    color: #38369A;
}

.tipografia{
    font-family: 'Mr Dafoe';
}