.sideBar{
    background: #38369A;
    width: 15%;
    border-radius: 10%;
    padding: 0.6rem;
    margin: 1rem;
}

.listaCategorias{
    text-decoration: none;
    list-style: none;
    padding-left: 0.6rem;
}

.listaCategorias li, .sideBar h3{
    color: #7CA5B8;
    margin: 0.3rem;
}